{
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "useTabs": true,
  "bracketSameLine": true,
  "tabWidth": 4,
  "printWidth": 150,
  "trailingComma": "none"

}
